* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  color: aqua;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.frnds {
  background: url("/frnds.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.happyman {
  background: url("./happy-man.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.happycouple {
  background: url("./img/happy-couple.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
